@import "tailwindcss";

@layer base {
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #374151 inset !important;
    -webkit-text-fill-color: #ffffff !important;
    caret-color: white;
    transition: background-color 5000s ease-in-out 0s;
  }
}

@layer utilities {
  @keyframes popup-in {
    0% {
      transform: scale(0.4) translateY(80px);
      opacity: 0;
      filter: blur(8px);
    }
    60% {
      transform: scale(1.05) translateY(-10px);
      opacity: 1;
      filter: blur(2px);
    }
    100% {
      transform: scale(1) translateY(0);
      opacity: 1;
      filter: blur(0);
    }
  }

  @keyframes popup-out {
    0% {
      transform: scale(1) translateY(0);
      opacity: 1;
      filter: blur(0);
    }
    100% {
      transform: scale(0.4) translateY(80px);
      opacity: 0;
      filter: blur(8px);
    }
  }

  .animate-popup-in {
    animation: popup-in 0.5s ease-out forwards;
    transform-origin: center;
  }

  .animate-popup-out {
    animation: popup-out 0.4s ease-in forwards;
    transform-origin: center;
  }
}
